<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index.html</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>

<div id="main-container">


    <h3 id="title">Search card</h3>

    <p class="paragraphs">minimum atk value: </p>
    <input type="number" name="atk-input" id="minimum-atk">
    <p class="paragraphs">card archetype: </p>
    <input type="text" name="card-archetype-input" id="archetype-name">

    <br/>
    <button name="button-search" value="search" class="paragraphs" id="button-search">search</button>

</div>

<br/>

<div id="search-result"> results:
<!--  <img id="card-image" alt="card image" src=""/>  -->
<ul id="card-details-list" class="paragraphs">
    <li id="card-details" class="paragraphs"> </li>
</ul>
</div>

<script src="script.js"></script>

</body>
</html>