<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index.html</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>

<div id="main-container">

    <h3 id="title">Search card</h3>

    <form>
        <label for="minimum-atk">
            <p class="paragraphs">minimum atk value: </p>
        </label>

        <input type="number" name="atk-input" id="minimum-atk">

        <label for="archetype-name">
            <p class="paragraphs">card archetype: </p>
        </label>
        <input type="text" name="card-archetype-input" id="archetype-name">

    </form>

    <br/>
    <input type="submit" name="button-search" value="search" class="paragraphs" id="button-search"
           onclick="clearList()"/>
</div>

<ul id="my-list-cards"></ul>

<br/>

<script src="script.js"></script>

</body>
</html>