#main-container{
    display: flex;
    flex-direction: column;
    align-items:center;

}

#title{
    font-family: "Arial", fantasy;
}

.paragraphs{
    font-family: "Adobe Arabic", fantasy;
}

#my-list-cards{
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: "Adobe Arabic", fantasy;
}
#button-search{
    align-self:center;
}